.ourMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: url('../../assets/background/menu.png') 100% 100% no-repeat;
  background-position: top;
  background-size: cover;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1110px;
  padding: 100px 0 226px 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 138px;
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .box {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    width: 1110px; */
    width: 100%;
    padding: 60px 20px 106px 20px;
  }

  .menu {
    margin-top: 98px;
    width: auto;
  }
}
