.ourHistory {
  display: flex;
  justify-content: space-between;
  padding: 372px 0 122px 0;
  width: 1108px;
}

.imgs {
  width: 539px;
  height: 498px;
  object-position: center;
  object-fit: cover;
}

.leftBlock {
  width: 444px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textHistory {
  margin-top: 21px;
  color: #656363;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  height: 217px;
}

.quanity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 39px;
  width: 300px;
}

@media screen and (max-width: 1199px) {
  .ourHistory {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
    padding: 830px 15px 50px 15px;
    width: 100%;
  }
  .imgs {
    margin-top: 45px;
    max-width: 539px;
    max-height: 498px;
    width: 100%;
    height: auto;
  }
  .leftBlock {
    max-width: 444px;
    width: 100%;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .quanity {
    flex-direction: column;
    justify-content: flex-start;
  }
  .textHistory {
    margin-top: 48px;
  }
}
