.slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.text {
  width: 920px;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  margin-bottom: 23px;
}

.img {
  width: 100px;
  height: 100px;
  margin-bottom: 16px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
}

.role {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 9px;
}

.name {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 25px;
}

@media screen and (max-width: 1199px) {
  .text {
    width: auto;
  }
  .text {
    margin-bottom: 10px;
  }
  .img {
    margin-bottom: 5px;
  }
  .role {
    margin-bottom: 5px;
  }
}
